# Dépendances
node_modules/

# Build
dist/
dev-dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Éditeurs / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Environnement
.env
.env.local
.env.*.local

# Tests
coverage/
